.navigation_menu ul{
    list-style: none;
    display: flex;
    padding-left: none;
}
.navigation_menu ul li {
    padding: 0 20px;
}
.navigation_menu{
    display: flex;
    justify-content: space-around;
}

.navigation_menu a{
    text-decoration: none;
    color: #333333;
}